<!DOCTYPE html>
<html>
  <head>
    <title>ChatGPT UI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>ChatGPT</h1>
    <form action="/" method="post">
      <input type="hidden" id="previous_system_message" value="{{ system_message }}">
      <label for="system_message">System Message:</label><br>
      <select id="system_message" name="system_message">
        <option>You are a helpful assistant.</option>
        <option selected>You are a nerdy assistant who replies in technical detail.</option>
        <option>You are a snarky assistant.</option>
        <option>You are a funny assistant who replies with a sense of humour.</option>
        <option>You are a poetic assistant who paints with words.</option>
      </select><br><br>
      <script>
        var select = document.getElementById("system_message");
        var previous_system_message = document.getElementById("previous_system_message");
        for(let i = 0; i < select.options.length; i++){
          const option = select.options[i];
          if (option.value == previous_system_message.value) {
            select.selectedIndex = i;
          }
        }

      </script>
      <label for="user_prompt">User Prompt:</label><br>
      <input type="text" id="user_prompt" name="user_prompt" value="{{ user_prompt }}"><br><br>

      <label for="temperature">Temperature:</label><br>
      <input type="range" id="temperature" name="temperature" min="0" max="2" step="0.01" value="{{ temperature }}"><br><br>

      <input type="submit" value="Submit">
    </form>
    <br><br>
    <p>System Message:</p>
    {{ system_message }}<br><br>
    <p>User Prompt:</p>
    {{ user_prompt }}<br><br>
    <p>Assistant Response:</p>
    <pre>{{ assistant_response }}</pre><br>
    <p>Finish Reason:</p>
    {{ finish_reason }}<br><br>
    <p>Temperature:</p>
    {{ temperature }}<br><br>
  </body>
</html>
