<!DOCTYPE html>
<html>
  <head>
    <title>ChatGPT UI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h2>ChatGPT Prompt</h2>
    <form action="/" method="post">
      <input type="hidden" id="previous_system_message" value="{{ system_message }}">
      <p><label for="system_message">System Message:</label></p>
      <select id="system_message" name="system_message">
        <option>You are a helpful assistant.</option>
        <option>You are a nerdy assistant who replies in technical detail.</option>
        <option>You are a snarky assistant.</option>
        <option>You are a funny assistant who replies with a sense of humour.</option>
        <option>You are a poetic assistant who paints with words.</option>
        <option>You are an Irish-born poet who writes English with an accent.</option>
      </select>
      <script>
        var select = document.getElementById("system_message");
        var previous_system_message = document.getElementById("previous_system_message");
        for(let i = 0; i < select.options.length; i++){
          const option = select.options[i];
          if (option.value == previous_system_message.value) {
            select.selectedIndex = i;
          }
        }
      </script>
      <p><label for="user_prompt">User Prompt:</label></p>
      <textarea rows="1" cols="100" id="user_prompt" name="user_prompt" >{{ user_prompt }}</textarea>
      <p><label for="temperature">Temperature:</label></p>
      <input type="range" id="temperature" name="temperature" min="0" max="2" step="0.01" value="{{ temperature }}">
      <p><label for="top_p">Top P:</label></p>
      <input type="range" id="top_p" name="top_p" min="0" max="1" step="0.01" value="{{ top_p }}">
      <p><input type="submit" value="Submit"></p>
    </form>
    <h2>ChatGPT Response</h2>
    <p>System Message:</p>
    <input type="text" value="{{ system_message }}" disabled/>
    <p>User Prompt:</p>
    <textarea rows="1" cols="100">{{ user_prompt }}</textarea>
    <p>Assistant Response:</p>
    <textarea rows="25" cols="100" readonly>{{ assistant_response }}</textarea>
    <p>Finish Reason:</p>
    <input type="text" value="{{ finish_reason }}" disabled/>
    <p>Temperature:</p>
    <input type="text" value="{{ temperature }}" disabled/>
    <p>Top P:</p>
    <input type="text" value="{{ top_p }}" disabled/>
  </body>
</html>
